.calculator {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    width: 350px;
    background-color: rgb(236, 236, 236);
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 36px;
    border-radius: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: grey;
    border: 1px solid rgb(194, 194, 194);
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
    border-radius: 50px;
    margin: 20px 5px 0;
}

.all-clear, .zero-btn {
    width: 50%;
}

.operator, .equal-sign {
    background-color: orange;
}

button:hover {
    background-color: darkgrey;
}

.operator:hover, .equal-sign:hover {
    background-color: darkorange;
}